# ===== Common Development Tools =====
*.bak
*.dump
*.iml
*.orig
*.plt
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tmp
*~
.DS_Store
.concrete/
.idea/
.project
.settings/
.tm_properties
.vscode/
/*.txt
erln8.config
tmp/

# ===== Project-specific Elements =====

build/
/bazel-*
out/
